/****** Object:  View [dbo].[vw_monitoreo_vieja]    Script Date: 11/12/2025 7:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/*drop VIEW vw_monitoreo */
CREATE VIEW [dbo].[vw_monitoreo_vieja]
AS
WITH fecha_logica AS (
    SELECT    
         GETDATE() AS fecha_hora_actual,
         CAST(GETDATE()-1 AS DATE) AS fecha_base,
         DATEPART(HOUR, GETDATE()) AS hora_actual,
         CAST(DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1) AS DATE) AS primer_dia_mes,
         DATEADD(DAY, -35, CAST(GETDATE() AS DATE)) AS fecha_mensual_min
),
base AS (
    SELECT 
        lc.*,
        tipo_control_mod = CASE 
            WHEN lc.tipo_control = 'Prisma Diario' THEN 'Payway Of.V.'
            WHEN lc.tipo_control = 'Facturacion Mensual' THEN 'Facturación Prepago'
			WHEN lc.tipo_control = 'DatabaseBackup - USER_DATABASES - FULL'  THEN 'Backup DB'
			when lc.tipo_control = 'DatabaseIntegrityCheck - USER_DATABASES' THEN 'Integridad DB'
            ELSE lc.tipo_control
        END,
        tipo_frecuencia = CASE 
            WHEN lc.tipo_control = 'Facturacion Mensual' THEN 'MensualDia1'
			WHEN lc.tipo_control = 'DatabaseIntegrityCheck - USER_DATABASES' THEN 'Mensual'
            ELSE 'Diario'
        END,
		grupo = CASE
			WHEN lc.tipo_control = 'Prisma Diario' THEN 'Comercial  '
            WHEN lc.tipo_control = 'Facturacion Mensual' THEN 'Comercial  '
			WHEN lc.tipo_control = 'Avisos Corte' THEN 'Comercial  '
			WHEN lc.tipo_control = 'Recordatorios Vencimiento' THEN 'Comercial  '
			WHEN lc.tipo_control = 'Factura Digital' THEN 'Comercial  '
			WHEN lc.tipo_control = 'DatabaseBackup - USER_DATABASES - FULL'  THEN 'Infra  '
			WHEN lc.tipo_control = 'DatabaseIntegrityCheck - USER_DATABASES' THEN 'Infra  '

			ELSE 'Otros'
		END
    FROM dbo.log_controles lc
),
controles_esperados AS (
    SELECT DISTINCT tipo_control_mod, tipo_frecuencia, grupo FROM base
),
control_actual AS (
    SELECT 
        tipo_control_mod,
        tipo_frecuencia,
		grupo,
        resultado,
        detalle,
        json,
        fecha_hora_reporte,
        fecha_referencia
    FROM (
        SELECT 
            b.tipo_control_mod,
            b.tipo_frecuencia,
			b.grupo,
            b.resultado,
            b.detalle,
            b.json,
            b.fecha_hora_reporte,
            b.fecha_referencia,
            ROW_NUMBER() OVER (
                PARTITION BY b.tipo_control_mod, b.fecha_referencia
                ORDER BY b.fecha_hora_reporte DESC
            ) AS rn
        FROM base b
        JOIN fecha_logica f ON
            (b.fecha_referencia = f.fecha_base AND b.tipo_frecuencia = 'Diario')
            OR
            (b.fecha_referencia = f.primer_dia_mes AND b.tipo_frecuencia = 'MensualDia1')			
    ) AS sub
    WHERE rn = 1
),
existe_control_mensual AS (
    SELECT 
        b.tipo_control_mod,
        COUNT(*) AS cantidad_registros
    FROM base b
    JOIN fecha_logica f 
        ON b.tipo_frecuencia = 'Mensual'
        AND b.fecha_referencia >= f.fecha_mensual_min
		AND b.resultado = 'OK'
    GROUP BY b.tipo_control_mod
),
resultados_anteriores AS (
    SELECT 
        b.tipo_control_mod,
        b.fecha_referencia,
        b.resultado
    FROM base b
    CROSS JOIN fecha_logica f
    WHERE b.fecha_referencia BETWEEN DATEADD(DAY, -5, f.fecha_base) AND DATEADD(DAY, -1, f.fecha_base)
)
SELECT 
    f.fecha_base,
    f.fecha_hora_actual,
    f.hora_actual,
    ce.tipo_control_mod,
    ce.tipo_frecuencia,
	ce.grupo,
    ca.fecha_hora_reporte,
    ISNULL(ca.resultado, 'FALTA') AS resultado_actual,
    ca.detalle,

    CASE 
        WHEN ca.json IS NOT NULL AND ISJSON(ca.json) = 1 THEN
            (
                SELECT STRING_AGG('• ' + [key] + ': ' + CAST([value] AS NVARCHAR(MAX)), CHAR(10))
                FROM OPENJSON(ca.json)
            )
        ELSE NULL
    END AS json_formateado,

    -- estado lógico final
    CASE
        -- DIARIO
        WHEN ce.tipo_frecuencia = 'Diario' AND ca.resultado IS NULL AND f.hora_actual < 8 THEN 'DEMORA'
        WHEN ce.tipo_frecuencia = 'Diario' AND ca.resultado IS NULL AND f.hora_actual >= 8 THEN 'FALTA'
        WHEN ce.tipo_frecuencia = 'Diario' AND ca.resultado IS NOT NULL THEN ca.resultado

        -- MENSUALDIA1
        WHEN ce.tipo_frecuencia = 'MensualDia1' AND ca.resultado IS NOT NULL THEN ca.resultado
        WHEN ce.tipo_frecuencia = 'MensualDia1' AND ca.resultado IS NULL THEN 'FALTA'

        -- MENSUAL
        WHEN ce.tipo_frecuencia = 'Mensual' AND em.cantidad_registros >= 1 THEN 'OK'
        WHEN ce.tipo_frecuencia = 'Mensual' AND (em.cantidad_registros = 0 or em.cantidad_registros IS NULL) THEN 'FALTA'

        ELSE NULL
    END AS estado_logico,

    -- 5 días anteriores
    MAX(CASE WHEN ra.fecha_referencia = DATEADD(DAY, -1, f.fecha_base) THEN ra.resultado END) AS dia_menos_1,
    MAX(CASE WHEN ra.fecha_referencia = DATEADD(DAY, -2, f.fecha_base) THEN ra.resultado END) AS dia_menos_2,
    MAX(CASE WHEN ra.fecha_referencia = DATEADD(DAY, -3, f.fecha_base) THEN ra.resultado END) AS dia_menos_3,
    MAX(CASE WHEN ra.fecha_referencia = DATEADD(DAY, -4, f.fecha_base) THEN ra.resultado END) AS dia_menos_4,
    MAX(CASE WHEN ra.fecha_referencia = DATEADD(DAY, -5, f.fecha_base) THEN ra.resultado END) AS dia_menos_5

FROM controles_esperados ce
CROSS JOIN fecha_logica f
LEFT JOIN control_actual ca 
  ON ca.tipo_control_mod = ce.tipo_control_mod AND ca.tipo_frecuencia = ce.tipo_frecuencia
LEFT JOIN existe_control_mensual em 
  ON em.tipo_control_mod = ce.tipo_control_mod AND ce.tipo_frecuencia = 'Mensual'
LEFT JOIN resultados_anteriores ra 
  ON ra.tipo_control_mod = ce.tipo_control_mod
GROUP BY 
    f.fecha_base,
    f.fecha_hora_actual,
    f.hora_actual,
    ce.tipo_control_mod,
    ce.tipo_frecuencia,
	ce.grupo,
    ca.resultado,
    ca.detalle,
    ca.fecha_hora_reporte,
    ca.json,
    em.cantidad_registros

GO
