/****** Object:  View [dbo].[vw_ReclamosGIS]    Script Date: 24/05/2026 7:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* DROP VIEW dbo.vw_ReclamosGIS */
CREATE VIEW dbo.vw_ReclamosGIS AS
SELECT *
FROM OPENQUERY([WSERVERGISDB2\SQL2019], '
    SELECT pcl_clave tipo_reclamo, rec_coord_y lat, rec_coord_x lon, rec_usu_suministro soc_sumi, rec_f_reclamo fecha_reclamo,
		rec_gis_punto_suministro punto_suministro, r.rec_gis_tra_codigo codigo_transformador,
		n.nod_pos_y lat_transf, n.nod_pos_x lon_transf
    FROM GIC_NECOCHEA_V40.mags.Reclamos r
		JOIN [EL_SAR_NET_V45_Necochea].[mags].[EL_Suministros] s on (r.rec_punto_suministro = s.sum_codigo)
		JOIN [EL_SAR_NET_V45_Necochea].[mags].[EL_Transformadores] t on (s.sum_tra_codigo = t.tra_codigo)
		JOIN [EL_SAR_NET_V45_Necochea].[mags].[EL_Nodos] n on (t.nod_id = n.nod_id)
	WHERE rec_coord_x is not null and rec_coord_y is not null
		and rec_coord_x <> 0 and rec_coord_y <> 0
		and rec_coord_y < -35 -- Luján
		and rec_f_reclamo > ''2024-01-01''
');

GO
