/****** Object:  View [dbo].[vw_Planilla_5]    Script Date: 07/06/2026 7:15:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/* drop VIEW [dbo].[vw_Planilla_5] */
CREATE VIEW [dbo].[vw_Planilla_5] AS  SELECT      L.LiqAno AS Año,      L.LiqMes AS Mes,      L.LiqLeg AS Legajo,  	E1.EmpNom AS [Nombre],
	E1.EmpCUIL AS [CUIL], E2.CafCod AS [Frente],   
E2.CenCod AS [Centro de Costo],      E2.CatCod AS [Categoría],      UPPER(E2.TurCod) AS [Turno]   , L.LiqTpoLiq AS [TipoLiquidacion]
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 3800 AND 3800 THEN L.Liq1Cal ELSE 0 END) AS [Total Remuneración]  
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7250 AND 7250 THEN L.Liq1Cal ELSE 0 END) AS [Total Imp. Agentes]   
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7300 AND 7300 THEN L.Liq1Cal ELSE 0 END) AS [Total Imp. Empresa]  
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7510 AND 7510 THEN L.Liq1Cal ELSE 0 END) AS [O.S. Gremiales 6%]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 7520 AND 7520 THEN L.Liq1Cal ELSE 0 END) AS [O.S. Gremiales ANSSAL 6%]  
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7530 AND 7530 THEN L.Liq1Cal ELSE 0 END) AS [O.S. Conducc. 6%]  
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7540 AND 7540 THEN L.Liq1Cal ELSE 0 END) AS [O.S. Cond. ANSSAL 6%]  
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7600 AND 7600 THEN L.Liq1Cal ELSE 0 END) AS [L.R.T. C.F:2,36 + 0,65 %]  
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7565 AND 7565 THEN L.Liq1Cal ELSE 0 END) AS [Contrib. Patronal Unica 17%]  
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7625 AND 7625 THEN L.Liq1Cal ELSE 0 END) AS [Contrib. Patronal Adic. 2%]  
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7610 AND 7610 THEN L.Liq1Cal ELSE 0 END) AS [Imp. Adic O. S. 1%]   
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7620 AND 7620 THEN L.Liq1Cal ELSE 0 END) AS [INSSJP Adic. 1%]  
, SUM(CASE WHEN L.Liq1Cnc BETWEEN 7605 AND 7605 THEN L.Liq1Cal ELSE 0 END) AS [Seg.Vida Colect.]
FROM [UPCN_RRHH_PROD].[dbo].[LIQUID1] L 
JOIN [UPCN_RRHH_PROD].[dbo].[EMPLE1] E1
	 ON L.LiqSuc = E1.SucCod
	 AND L.LiqLeg = E1.EmpLeg
JOIN [UPCN_RRHH_PROD].[dbo].[EMPLE2] E2        ON L.LiqSuc = E2.SucCod    AND L.LiqLeg = E2.EmpLeg       AND E2.EmpVig = '01/01/1753'  WHERE L.LiqSuc = 1 
GROUP BY      L.LiqAno,      L.LiqMes,      L.LiqLeg,   E2.CafCod,      E2.CenCod,      E2.CatCod,      E2.TurCod, 	E1.EmpNom , E1.EmpCUIL, L.LiqTpoLiq 



GO
