/****** Object:  View [dbo].[vw_Planilla_12]    Script Date: 31/05/2026 7:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW dbo.vw_Planilla_12 AS  SELECT      L.LiqAno AS Año,      L.LiqMes AS Mes,      L.LiqLeg AS Legajo,   E1.EmpNom AS [Nombre],   E1.EmpCUIL AS [CUIL],   E2.CafCod AS [Frente],      E2.CenCod AS [Centro de Costo],      E2.CatCod AS [Categoría],      UPPER(E2.TurCod) AS [Turno],   L.LiqTpoLiq AS [TipoLiquidacion]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 3800 AND 3800 THEN L.Liq1Cal ELSE 0 END) AS [Total Remuner. A) 3800 - 10]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6010 AND 6010 THEN L.Liq1Cal ELSE 0 END) AS [Jubilac. 11 % B) 6010 - 20]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6020 AND 6020 THEN L.Liq1Cal ELSE 0 END) AS [Jubilac. 3 % C) 6020 - 30]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6037 AND 6037 THEN L.Liq1Cal ELSE 0 END) AS [% Ob.Soc pCol.EyG D) 6037 - 35]   , (0 + SUM(CASE WHEN L.Liq1Cnc BETWEEN 6041 AND 6041 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 6276 AND 6277 THEN L.Liq1Cal ELSE 0 END) ) AS [O.S.+Adh E) 6041 E) 6276 - 40]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6042 AND 6042 THEN L.Liq1Cal ELSE 0 END) AS [O.S.+Adh Anssal F) 6042 - 50]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6043 AND 6043 THEN L.Liq1Cal ELSE 0 END) AS [OSDE+Adh O.S.Osde G) 6043 - 60]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6044 AND 6044 THEN L.Liq1Cal ELSE 0 END) AS [OSDE+Adh Anssal H) 6044 - 70]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6060 AND 6060 THEN L.Liq1Cal ELSE 0 END) AS [Fondo Comp.Jub I) 6060 - 80]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6075 AND 6075 THEN L.Liq1Cal ELSE 0 END) AS [Ajuste Jubilac. J) 6075 - 85]   , (0 + SUM(CASE WHEN L.Liq1Cnc BETWEEN 6045 AND 6045 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 6076 AND 6076 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 4511 AND 4511 THEN L.Liq1Cal ELSE 0 END) ) AS [Aj.O.Soc 6045/76 K) 4511 - 89]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6070 AND 6070 THEN L.Liq1Cal ELSE 0 END) AS [ASOLYF 2% L) 6070 - 90]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 0 AND 0 THEN L.Liq1Cal ELSE 0 END) AS [Columna Q no se imprime - 91]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6071 AND 6071 THEN L.Liq1Cal ELSE 0 END) AS [Asolyf (Inform) M) 6071 - 92]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6080 AND 6081 THEN L.Liq1Cal ELSE 0 END) AS [LyF Merc 2,5 % N)6080/1 - 100]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6090 AND 6095 THEN L.Liq1Cal ELSE 0 END) AS [LyF Merc 2 % y Aj O)6090-5 - 110]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6100 AND 6101 THEN L.Liq1Cal ELSE 0 END) AS [LyF Neco 0,5 % P)6100/1 - 120]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6085 AND 6085 THEN L.Liq1Cal ELSE 0 END) AS [LyF Merc Solidari Q) 6085 - 140]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6062 AND 6062 THEN L.Liq1Cal ELSE 0 END) AS [Lyf Adic Jub. 2% R) 6062 - 150]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6086 AND 6086 THEN L.Liq1Cal ELSE 0 END) AS [Apuaye2% Solidari S) 6086 - 160]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6063 AND 6063 THEN L.Liq1Cal ELSE 0 END) AS [Jub.Adic Apuaye T) 6063 - 170]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6083 AND 6083 THEN L.Liq1Cal ELSE 0 END) AS [Cta.Sind Apuaye U) 6083 - 180]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6150 AND 6151 THEN L.Liq1Cal ELSE 0 END) AS [Focom Apuaye V) 6150 - 190]  FROM [UPCN_RRHH_PROD].[dbo].[LIQUID1] L  JOIN [UPCN_RRHH_PROD].[dbo].[EMPLE1] E1    ON L.LiqSuc = E1.SucCod    AND L.LiqLeg = E1.EmpLeg  JOIN [UPCN_RRHH_PROD].[dbo].[EMPLE2] E2        ON L.LiqSuc = E2.SucCod    AND L.LiqLeg = E2.EmpLeg       AND E2.EmpVig = '01/01/1753'   WHERE L.LiqSuc = 1  GROUP BY      L.LiqAno,      L.LiqMes,      L.LiqLeg,   L.LiqTpoLiq,   E1.EmpNom,   E1.EmpCUIL,   E2.CafCod,      E2.CenCod,      E2.CatCod,      E2.TurCod;
GO
