/****** Object:  View [dbo].[vw_Planilla_22]    Script Date: 31/05/2026 7:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW dbo.vw_Planilla_22 AS  SELECT      L.LiqAno AS Año,      L.LiqMes AS Mes,      L.LiqLeg AS Legajo,   E1.EmpNom AS [Nombre],   E1.EmpCUIL AS [CUIL],   E2.CafCod AS [Frente],      E2.CenCod AS [Centro de Costo],      E2.CatCod AS [Categoría],      UPPER(E2.TurCod) AS [Turno],   L.LiqTpoLiq AS [TipoLiquidacion]   , (0 + SUM(CASE WHEN L.Liq1Cnc BETWEEN 1 AND 3600 THEN L.Liq1Cal ELSE 0 END) - SUM(CASE WHEN L.Liq1Cnc BETWEEN 4401 AND 5600 THEN L.Liq1Cal ELSE 0 END) - SUM(CASE WHEN L.Liq1Cnc BETWEEN 6001 AND 6806 THEN L.Liq1Cal ELSE 0 END) - SUM(CASE WHEN L.Liq1Cnc BETWEEN 7891 AND 7897 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 6898 AND 6898 THEN L.Liq1Cal ELSE 0 END) - SUM(CASE WHEN L.Liq1Cnc BETWEEN 3990 AND 3990 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 7105 AND 7110 THEN L.Liq1Cal ELSE 0 END) ) AS [Neto s/ Recibo - 8]   , (0 + SUM(CASE WHEN L.Liq1Cnc BETWEEN 7100 AND 7100 THEN L.Liq1Cal ELSE 0 END) ) AS [O.P.Abon A/finmes Liq. 0/7 - 11]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 7000 AND 7000 THEN L.Liq1Cal ELSE 0 END) AS [Adjudic. Circulos 7000 - 19]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 6998 AND 6998 THEN L.Liq1Cal ELSE 0 END) AS [Tot.Dtos Ord.Pago 6998 - 90]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 8991 AND 8991 THEN L.Liq1Cal ELSE 0 END) AS [Imp.Desc Prox.Mes 8991 - 91]   , (0 - SUM(CASE WHEN L.Liq1Cnc BETWEEN 6430 AND 6798 THEN L.Liq1Cal ELSE 0 END) - SUM(CASE WHEN L.Liq1Cnc BETWEEN 7100 AND 7100 THEN L.Liq1Cal ELSE 0 END) - SUM(CASE WHEN L.Liq1Cnc BETWEEN 7000 AND 7000 THEN L.Liq1Cal ELSE 0 END) - SUM(CASE WHEN L.Liq1Cnc BETWEEN 6998 AND 6998 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 8991 AND 8991 THEN L.Liq1Cal ELSE 0 END) ) AS [Neto a percibir x agente - 93]  FROM [UPCN_RRHH_PROD].[dbo].[LIQUID1] L  JOIN [UPCN_RRHH_PROD].[dbo].[EMPLE1] E1    ON L.LiqSuc = E1.SucCod    AND L.LiqLeg = E1.EmpLeg  JOIN [UPCN_RRHH_PROD].[dbo].[EMPLE2] E2        ON L.LiqSuc = E2.SucCod    AND L.LiqLeg = E2.EmpLeg       AND E2.EmpVig = '01/01/1753'   WHERE L.LiqSuc = 1  GROUP BY      L.LiqAno,      L.LiqMes,      L.LiqLeg,   L.LiqTpoLiq,   E1.EmpNom,   E1.EmpCUIL,   E2.CafCod,      E2.CenCod,      E2.CatCod,      E2.TurCod;
GO
