/****** Object:  View [dbo].[vw_monitoreo]    Script Date: 20/05/2026 7:15:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* drop view vw_monitoreo */
CREATE VIEW [dbo].[vw_monitoreo]
AS
WITH UltimaInterpretacion AS (
    -- Obtener la última interpretación por regla_id
    SELECT 
        i.*,
        ROW_NUMBER() OVER (PARTITION BY i.regla_id ORDER BY i.fecha_calculo DESC) AS rn
    FROM [dbo].[InterpretacionServicio] i
    WHERE i.regla_id IS NOT NULL
),
ReglaInfo AS (
    -- Obtener información de la regla
    SELECT 
        r.id AS regla_id,
        r.grupo_servicio,
        r.frecuencia_esperada,
        r.dia_fijo_mes,
        r.identificador_servicio,
		r.requiere_hoy
    FROM [dbo].[ReglaServicio] r
),
UltimoEventoDetalle AS (
    SELECT 
        e1.identificador_servicio,
        e1.cuerpo_mensaje AS detalle,
        (SELECT TOP 1 e4.payload 
         FROM [dbo].[EventoMonitoreo] e4
         WHERE e4.identificador_servicio = e1.identificador_servicio
           AND CAST(e4.fecha_control AS DATE) = ultima.ultima_fecha
           AND e4.payload IS NOT NULL
         ORDER BY e4.fecha_control DESC) AS detalle2
    FROM [dbo].[EventoMonitoreo] e1
    INNER JOIN (
        SELECT 
            e2.identificador_servicio,
            MAX(CAST(e2.fecha_control AS DATE)) AS ultima_fecha
        FROM [dbo].[EventoMonitoreo] e2
        WHERE CAST(e2.fecha_control AS DATE) >= CAST(DATEADD(DAY, -5, GETDATE()) AS DATE)
        GROUP BY e2.identificador_servicio
    ) ultima ON e1.identificador_servicio = ultima.identificador_servicio
        AND CAST(e1.fecha_control AS DATE) = ultima.ultima_fecha
    WHERE e1.id = (
        SELECT TOP 1 e3.id
        FROM [dbo].[EventoMonitoreo] e3
        WHERE e3.identificador_servicio = e1.identificador_servicio
            AND CAST(e3.fecha_control AS DATE) = ultima.ultima_fecha
        ORDER BY 
            CASE UPPER(e3.estado)
                WHEN 'FIX' THEN 1
                WHEN 'OK' THEN 2
                WHEN 'PENDIENTE' THEN 3
                WHEN 'WARN' THEN 4
                WHEN 'ERROR' THEN 5
                ELSE 6
            END,
            e3.fecha_control DESC
    )
)
SELECT 
    CAST(ui.fecha_calculo AS DATE) AS fecha_base,
    GETDATE() AS fecha_hora_actual,
    CAST(GETDATE() AS TIME) AS hora_actual,
    ui.fecha_calculo AS fecha_hora_reporte,
    UPPER(ui.estado_interpretado) AS estado_logico,
    UPPER(ui.estado_interpretado) AS resultado_actual,
    ri.grupo_servicio AS grupo,
    ri.identificador_servicio AS tipo_control_mod,
    CASE 
        WHEN UPPER(ri.frecuencia_esperada) = 'DIA_FIJO_MES' AND ri.dia_fijo_mes IS NOT NULL 
        THEN 'Día ' + CAST(ri.dia_fijo_mes AS NVARCHAR(10))
        ELSE UPPER(LEFT(ri.frecuencia_esperada, 1)) + LOWER(REPLACE(SUBSTRING(ri.frecuencia_esperada, 2, LEN(ri.frecuencia_esperada)), '_', ' ')) 
			+ CASE WHEN ri.requiere_hoy = 0 then ' (PM)' else '' END
    END AS tipo_frecuencia,
    ued.detalle,
	ued.detalle2,
    UPPER(ui.dia_menos_0) AS dia_menos_0,
    UPPER(ui.dia_menos_1) AS dia_menos_1,
    UPPER(ui.dia_menos_2) AS dia_menos_2,
    UPPER(ui.dia_menos_3) AS dia_menos_3,
    UPPER(ui.dia_menos_4) AS dia_menos_4,
    UPPER(ui.dia_menos_5) AS dia_menos_5,
    NULL AS json_formateado
FROM UltimaInterpretacion ui
INNER JOIN ReglaInfo ri ON ui.regla_id = ri.regla_id
LEFT JOIN UltimoEventoDetalle ued ON ri.identificador_servicio = ued.identificador_servicio
WHERE ui.rn = 1;

GO
