/****** Object:  View [dbo].[vw_Planilla_3]    Script Date: 01/06/2026 7:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
DROP VIEW vw_Planilla_3


*/
CREATE VIEW dbo.vw_Planilla_3 AS  SELECT      L.LiqAno AS Año,      L.LiqMes AS Mes,      L.LiqLeg AS Legajo,   E2.CafCod AS [Frente],      E2.CenCod AS [Centro de Costo],      E2.CatCod AS [Categoría],      E2.TurCod AS [Turno]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2045 AND 2045 THEN L.Liq1Inf ELSE 0 END) AS [Ext.150 20062045 Horas - 6]   , (0 + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2010 AND 2010 THEN L.Liq1Inf ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2020 AND 2029 THEN L.Liq1Inf ELSE 0 END) ) AS [Ext. 50% 20102029 Horas - 20]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2030 AND 2044 THEN L.Liq1Inf ELSE 0 END) AS [Ext.100% 20302044 Horas - 30]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2006 AND 2007 THEN L.Liq1Inf ELSE 0 END) AS [Feriados 2045 Horas - 40]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2045 AND 2045 THEN L.Liq1Cal ELSE 0 END) AS [Ext.150 20062045 $ - 46]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2011 AND 2011 THEN L.Liq1Cal ELSE 0 END) AS [Ext.150 2045 $ - 48]   , (0 + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2045 AND 2045 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2011 AND 2011 THEN L.Liq1Cal ELSE 0 END) ) AS [Hs.Extr. 150 % $ - 50]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2010 AND 2010 THEN L.Liq1Cal ELSE 0 END) AS [Ext. 50% 2010 $ - 56]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2020 AND 2029 THEN L.Liq1Cal ELSE 0 END) AS [Ext. 50% 20202029 $ - 58]   , (0 + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2010 AND 2010 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2020 AND 2029 THEN L.Liq1Cal ELSE 0 END) ) AS [Hs.Extr. 50 % $ - 60]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2030 AND 2044 THEN L.Liq1Cal ELSE 0 END) AS [Hs.Extr. 100 % $ - 70]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2045 AND 2045 THEN L.Liq1Cal ELSE 0 END) AS [Feriados 2045 $ - 80]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 0 AND 0 THEN L.Liq1Cal ELSE 0 END) AS [Columna en blanco - 85]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2050 AND 2050 THEN L.Liq1Cal ELSE 0 END) AS [comidas 2050 $ - 90]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2100 AND 2100 THEN L.Liq1Cal ELSE 0 END) AS [reempl. 2100 $ - 100]   , SUM(CASE WHEN L.Liq1Cnc BETWEEN 2070 AND 2070 THEN L.Liq1Cal ELSE 0 END) AS [dif.hs. p/reemp. $ - 110]   , (0 + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2006 AND 2008 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2010 AND 2025 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2030 AND 2044 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2050 AND 2050 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2100 AND 2100 THEN L.Liq1Cal ELSE 0 END) + SUM(CASE WHEN L.Liq1Cnc BETWEEN 2070 AND 2070 THEN L.Liq1Cal ELSE 0 END) ) AS [TOTAL $ - 150]  FROM [UPCN_RRHH_PROD].[dbo].[LIQUID1] L  JOIN [UPCN_RRHH_PROD].[dbo].[EMPLE2] E2        ON L.LiqSuc = E2.SucCod    AND L.LiqLeg = E2.EmpLeg       AND E2.EmpVig = '01/01/1753'  WHERE L.LiqSuc = 1  GROUP BY      L.LiqAno,      L.LiqMes,      L.LiqLeg,   E2.CafCod,      E2.CenCod,      E2.CatCod,      E2.TurCod;
GO
